body{
    background-image: url(../imagenes/error.jpg);
    background-size: cover;
}

h1{
    text-shadow: 5px 6px 10px red  ;
    color: white;
    margin: 2%;
    padding: 2%;
    padding-top: 3.5%;
}

a img{
    background-color: white;
    color: white;
    display: inline-block;
    height: 6rem;
    filter: invert(1);
}
#segundotexto{
            padding-top: 16%;
        }
@media  (300px < width < 768px){
    body{
        background-color: black;
            background-image: url(../imagenes/error.jpg);
    background-size: contain;
        background-position: center;
        }
        h1{
            padding-top: 40%;
            font-size: 1rem;
        }
       a img{
            height: 3rem;

        }
        #segundotexto{
            padding-top: 90%;
        }
    }
