body{
    background-color: black;
    color: white;
}
header{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 600%;
    margin: 2%;
    padding: 5%;
}
.rep{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    margin: 0%;
    padding: 1%;
}
h2{
    color: red;
  font-family: Arial, Helvetica, sans-serif;
font-size: 200%;
margin: 0;
padding: 1%;
}
h3{
  padding: 1%;
  margin: 0%;  
}
footer{
    color: white;
    font-size: 150%;
}
