body{
    background-color: black;

}
#cerrar{
    position: fixed;
    display: none;
    padding-left: 1%;
}
#panel{
    padding-top: 2%;
 left: -1000px;
 transition: left .7s ease;
 position: fixed;
 top: 10vh;
}
#panel:target{
left : 0;
}
#panel:target ~  #cerrar {
    display:inline-block;
}

#panel:target ~ #abrir{
    display: none;
}
#abrir{
    padding-top: 0%;
    position: fixed;
    padding-left: 1%;
}
.hm{
    text-shadow: 5px 6px 10px white  ;
   font-family: 'Star Wars', sans-serif,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    text-align: left;
    font-size: 2rem;
    color: red;
   text-decoration: none;
      display: flex;
    flex-direction: column;
    
}
.primera{
    
    padding: 0;
    margin: 0;
  background-image: url(../imagenes/logpremio.jpg);
}
h1{
    font-family: 'Khnum B', sans-serif;
    font-size: 3rem;
}
h2{
     font-family: 'Khnum B', sans-serif;
}
#pro{
 padding-top: 4%;
     font-family: 'Star Wars', sans-serif,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6.25rem;
    text-align: center;
    color: white ;
}
#episodio{
   font-family: 'Khnum B', sans-serif;
    color: white;
    font-size: 3rem;
    margin:  1%; ;
padding: 2%;

}
.director{
    font-family: sans-serif;
    color: white;
    font-size: x-large;
    margin: 1%;
    padding: 1%;
}


.produc{
text-align: center;
    color: white;
    font-size: 400%;
}
footer{
    background:-webkit-linear-gradient(white,black);
    padding: 5px;
margin: 0;
height: 150px;
text-align: center;
  color: white;
    font-size: 150%;
}
.logos{
     display: flex;
     gap: 9.37rem;
    }
   .logos img{
    
         padding-left: 7%;
        width: 50px;
        height: 60px;
        padding-top: 3%;
        
    }
    

#ft{
    text-decoration: none;
    color: white;
    font-family: sans-serif,'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 1rem;
   
}
.video{
    aspect-ratio: 1/1;
    margin: 0;
    padding-left: 23%;
    width: 50%;
}
.fin{
    display: inline-block;
    text-align: center;
    align-items:center;
    
}
@media  (300px < width < 768px){

body{
        font-size: 0.062rem ;
    background-color: black;
    }
    footer{
    background:-webkit-linear-gradient(white,black);
    padding: 0.2rem;
margin: 0;
height: 3rem;
text-align: center;
}

.logos{
    display: flex;
     gap: 8%;
 }
   .logos img{
        padding-left: 10%;
        width: 40%;
        height: 100%;
        padding-top: 2%;
        
    }

#ft{
    text-decoration: none;
    color:black;
    font-family: sans-serif,'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 0.4rem;
    
   
}
.primera{
    padding-top: 60%;
    background-color: black;
    background-image: none;
}
#pro{
    font-size: 2rem;
}
.video{
    aspect-ratio: 1/1;
    margin: 0;
    padding-left: 25%;
    width: 40%;
    height: 40%;
}
#episodio{
font-size: 2rem;
}
#director{
    font-size: 1.5rem;
}
}



