body{
    background-color: black;
}
#cerrar{
    padding-left: 1%;
    position: fixed;
    display: none;
}
#abrir{
    padding-left: 1%;
    position: fixed;
}
#panel{
padding-left: 2%;
 left: -1000px;
 transition: left .7s ease;
 position: fixed;
 top: 10vh;
}
#panel:target{
left : 0;
position: fixed;
}
#panel:target ~  #cerrar {
    display:inline-block;
    position: fixed;
}

#panel:target ~ #abrir{
    display: none;
    position: fixed;
}

.hn{
   text-shadow: 5px 6px 10px white  ;
   font-family: 'Star Wars', sans-serif,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    text-align: left;
    font-size: 2rem;
    color: red;
   text-decoration: none;
      display: flex;
    flex-direction: column;
    
}
footer{
    background:-webkit-linear-gradient(white,black);
    padding: 0.5rem;
margin: 0;
height: 10rem;
text-align: center;
}
.logos{
     display: flex;
     gap: 9rem;
}
.logos img{
    
         padding-left: 7%;
        width: 50px;
        height: 70px;
        padding-top: 3%;
        
    }
    

#ft{
    text-decoration: none;
    color: black;
    font-family: sans-serif,'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 1rem;
   
}
.fin{
    display: inline-block;
    text-align: center;
    align-items:center;
    
}
audio{
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 10%;
}

input{
   margin-left: 20%;
    height: 1.25rem;
   display: flex;
   flex-direction: column;
border-style: groove;
border-radius: 5rem;

}

.formu2{
    background-image:url(../imagenes/contacto.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 2rem;   
  margin: 0;
  color: white;
  
}

#nombre,#contra,#telefono,#correo{
    margin-top: 1%;
    padding: 0.2rem;
    color: black;
    font-size: 1rem;
    border: 2px solid white;
    box-shadow: 0 0 20px;

    
}
label{
    margin-left: 20%;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 0 0 5px black,
        0 0 10px black,
        0 0 20px  black,
        0 0 40px black,
        0 0 80px black;
}

#mensaje{ 
border-style: groove;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 15rem;
    height: 5rem;
    font-size: 1rem;   
    border: 2px solid white;
    box-shadow: 0 0 30px;
    color: black;
    margin-left: -9%;
}
#comentario{
    display: inline-block;
    width: 1rem;
    font-size: 0.8rem;
    vertical-align:middle;
    text-align: center;
 padding-bottom: 8%;
 padding-right: 15% ;
}
#envia{
    font-family: 'Khnum B', sans-serif;
    color: red;
    font-size: 2rem;
    background-color: black;
    width: 8rem;
    height: 0.1rem;
    padding-top: 1%;
    padding-bottom: 3.5%;
    margin-left: 50%;
    border: 2px solid;
    box-shadow: 0 0 30px;
    animation: pulse-glow 2s infinite;
    text-align: center;
}
@keyframes pulse-glow{
    0%,100%{
        box-shadow: 0 0 5px red;
       
    }
    50%{
        box-shadow: 0 0 25px red, 0 0 35px red;

    }
}

@media  (300px < width < 768px) {
   body{
        font-size: 0.062rem ;
    background-color: black;
    }
    footer{
    background:-webkit-linear-gradient(white,black);
    padding: 0.2rem;
margin: 0;
height: 3rem;
text-align: center;
}

.logos{
    display: flex;
     gap: 8%;
 }
   .logos img{
        padding-left: 10%;
        width: 40%;
        height: 100%;
        padding-top: 2%;
        
    }

#ft{
    text-decoration: none;
    color:black;
    font-family: sans-serif,'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 0.4rem;   
}

.formu2{
  padding-left: 20%;  
 
}
label{
    margin-left: 10%;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    text-shadow: 0 0 5px black,
        0 0 10px black,
        0 0 20px  black,
        0 0 40px black,
        0 0 80px black;
}
#nombre,#contra,#telefono,#correo{
    margin-top: 2%;
    padding: 0;
    color: white;
    font-size: 0.5rem;
    border: 2px solid white;
    box-shadow: 0 0 20px;

}


#mensaje{
    border-style:groove;
    border-radius: 0.2rem;
    margin: 0%;
    padding: 0%;
    width: 7rem;
    height: 3rem;
    color: white;
    border: 2px solid white;
    box-shadow: 0 0 30px;
}
#comentario{
    display: inline-block;
    width: 1rem;
    font-size: 0.7rem;
    vertical-align:middle;
    text-align: center;
 padding-bottom: 15%;
 padding-right: 15% ;
}
.hn{
font-size: 1rem;
}
#envia{
    font-family: 'Khnum B', sans-serif;
    color: red;
    font-size: 0.5rem;
    background-color: black;
    width: 3rem;
    height: 1.5rem;
    text-align: center;
    padding-bottom: 6%;
    
}
input{
    padding-top:2%;
    height: 2rem;
   display: flex;
   flex-direction: column;
border-style: groove;
border-radius: 8rem;

}

}
