body{
    background-color: black;
}
#cerrar{
    padding-left: 1%;
    position: fixed;
    display: none;
}
#abrir{
    padding-left: 1%;
    position: fixed;
}
#panel{
padding-left: 2%;
 left: -1000px;
 transition: left .7s ease;
 position: fixed;
 top: 10vh;
}
#panel:target{
left : 0;
position: fixed;
}
#panel:target ~  #cerrar {
    display:inline-block;
    position: fixed;
}

#panel:target ~ #abrir{
    display: none;
    position: fixed;
}

.hm{
   text-shadow: 5px 6px 10px white  ;
   font-family: 'Star Wars', sans-serif,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    text-align: left;
    font-size: 2rem;
    color: red;
   text-decoration: none;
      display: flex;
    flex-direction: column;
    
}
footer{
    background:-webkit-linear-gradient(white,black);
    padding: 5px;
margin: 0;
height: 150px;
text-align: center;
}
.logos{
     display: flex;
     gap: 9rem;
}
.logos img{
    
         padding-left: 7%;
        width: 50px;
        height: 70px;
        padding-top: 3%;
        
    }
    

#ft{
    text-decoration: none;
    color: white;
    font-family: sans-serif,'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 1rem;
   
}
.fin{
    display: inline-block;
    text-align: center;
    align-items:center;
    
}
audio{
    margin: 0;
    padding: 0%;
    width: 100%;
    padding-bottom: 1%;
}

input{
    
    height: 20px;
   display: flex;
   flex-direction: column;
border-style: groove;
border-radius: 100px;

}
#msj{
    border-style:groove;
    border-radius: 10px;
    margin: 0%;
    padding: 1%;
    width: 300px;
    height: 100px;
    
}
#ms{
    display: inline-block;
    width: 100px;
    vertical-align:middle;
 
}


.formu2{
    background-image:url(..imagenes/contacto.jpg);
  width: 50%;
  padding: 0;
  padding-top: 3rem;
}
#enviar{
    font-family: 'Khnum B', sans-serif;
    color: red;
    font-size: 30px;
    background-color: black;
    width: 100px;
    height: 50px;
}

@media  (300px < width < 768px) {
   body{
        font-size: 0.062rem ;
    background-color: black;
    }
    footer{
    background:-webkit-linear-gradient(white,black);
    padding: 0.2rem;
margin: 0;
height: 3rem;
text-align: center;
}

.logos{
    display: flex;
     gap: 8%;
 }
   .logos img{
        padding-left: 10%;
        width: 40%;
        height: 100%;
        padding-top: 2%;
        
    }

#ft{
    text-decoration: none;
    color:black;
    font-family: sans-serif,'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 0.4rem;   
}

.formu2{
    heigth: auto;
  padding: 1rem;
  padding-top: 5rem;

}
