body{
    background-image: url(../imagenes/fuer.webp);
    background-size: cover;
  
}
a{
    display: flex;
text-align: center;
align-items: center;
text-decoration: none;
color: black;
font-size: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;
img{
    display: inline-block;
    height: 100px;
}
}
.video{

    margin: 0;
    aspect-ratio: 1/1;
    padding-top: 10%;
}