body{
    background-color: black;
}
#cerrar{
    padding-left: 1%;
    position: fixed;
    display: none;
}
#panel{
    padding-left: 1%;
 left: -1000px;
 transition: left .7s ease;
 position: fixed;
 top: 10vh;
}
#panel:target{
left : 0;
}
#panel:target ~  #cerrar {
    display:inline-block;
}

#panel:target ~ #abrir{
    display: none;
}
#abrir{
    padding-left: 1%;
    position: fixed;
}
.hm{
    text-shadow: 5px 6px 10px white  ;
   font-family: 'Star Wars', sans-serif,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    text-align: left;
    font-size: 2rem;
    color: red;
   text-decoration: none;
      display: flex;
    flex-direction: column;
    
}
.video{
    background-image: url(../imagenes/imagenfondopremio.jpg);
    background-size: cover;
    background-position: center;
   aspect-ratio: 1/1;
    margin: 3%;
    padding: 5%;
    padding-left: 16%;
    width: 1000px;
    height: 500px;
}
.premios{
    text-align: center;
}
h1,h2,h3{
    color: white;
}

.contexto{
    color: red;
    font-size: 200%;
}

.curiosidades{
    background-image:url(../imagenes/curiosidad.webp);
    background-position: center;
    background-size: cover;
    margin: 1%;
  padding-bottom: 20%;
color: red;
font-size: 400%;
text-align: center;
}
#curio{
    padding-top: 8%;
    text-align: left;
    color: white;
    font-size: 27%;
}
.oscar{
   display: flex;
    height: 300px;
    justify-content: center;
    gap: 100px;
   
}
footer{
    background:-webkit-linear-gradient(white,black);
    padding: 5px;
margin: 0;
height: 150px;
text-align: center;
}
.logos{
    display: flex;
     gap: 150px;
    img{
    
         padding-left: 7%;
        width: 50px;
        height: 60px;
        padding-top: 3%;
        
    }
    
}
#ft{
    text-decoration: none;
    color: white;
    font-family: sans-serif,'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 1rem;
   
}
.fin{
    display: inline-block;
    text-align: center;
    align-items:center;
    
}